body {
    text-align: center;
}
canvas {
    display: none;
}

.modal {
    background: #dfd9c8;
    border: 5px solid #43477a;
    border-radius: 8px;
    width: 510px;
    margin: 10% auto;
}

.hide {
    display: none;
}

#body {
    display: flex;
}

.player {
    width: 20%;
    height: auto;
}

.player img {
    opacity: 0.5;
}

.player:hover {
    background: url("../images/Selector.png") no-repeat;
    background-position: center;
    cursor: pointer;
}

.header {
    display: block;
}

#stats {
    height: 62px;
    margin: 12px auto;
}

#game-over {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 50%;
    margin: 0 auto;
}

.description {
    font-size: 1.2em;
    color: darkslateblue;
}