body {
    text-align: center;
}

.modal {
    width: 90%;
    height: auto;
    position: absolute;
    top: 350px;
    margin: 0 5%;
    background: #dfd9c8;
    border: 5px solid #43477a;
    border-radius: 8px;
}

.hide {
    display: none;
}

#body {
    display: flex;
}

.player {
    width: 20%;
    height: auto;
}

.player:hover {
    background: url("../images/Selector.png") no-repeat;
    background-position: center;
    cursor: pointer;
}

#header {
    display: block;
}

.key-num {
    font-size: 2em;
}
